// Author Section
@import '../base/common';
@import '../utils/colors';

.creator {
  padding-top: 40px;
}

.creator__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
}

.creator__subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.creator__img {
  position: relative;
  z-index: -1;
  margin-bottom: -90px;
}

.creator__wrapper {
  display: flex;
  flex-direction: column;
}

.profession__img {
  width: 20px;
  height: 20px;
}

.creator__profession {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: $label;
  padding: 10px 15px;
  box-shadow: 0px 10px 70px rgba(79, 146, 170, 0.1);
  border-radius: 20px;
  max-width: 250px;

  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
  }
}

.creator__profession--margin {
  margin-bottom: 10px;
}

.creator__profession--margin-btm {
  margin-bottom: 30px;
}

// Experience

.experience__list {
  margin-bottom: 30px;
}

.experience__item:not(:last-child) {
  margin-bottom: 15px;
}

.experience__item {
  display: flex;
  gap: 10px;
}

.experience__icon {
  width: 24px;
  height: 24px;
}

.experience__info {
  font-size: 16px;
  line-height: 1.5;
}

// QUOTE

.quote {
  position: relative;
  display: block;
  padding: 30px 20px;
  box-shadow: 0px 10px 70px rgba(79, 146, 170, 0.1);
  border-radius: 30px;
  background-color: $label;
  margin-bottom: 30px;
}

.quote__text::before {
  content: '';
  display: inline-block;
  width: 26px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-image: url('../../images/quotes1.svg');
}

.quote__text::after {
  content: '';
  display: inline-block;
  width: 26px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-image: url('../../images/quotes.svg');
}

.creator__btn {
  display: inline-flex;
  order: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding: 15px 22px;
  background: radial-gradient(100% 195.02% at 0% 0%, #77b7db 30.73%, #8bccf1 100%);
  border: none;

  border-radius: 35px;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  color: $label;
}

.creator__icon {
  height: 40px;
}

// Desktop

@media screen and (min-width: 1200px) {
  .creator__img {
    display: none;
  }

  .creator__title {
    font-size: 30px;
  }

  .creator__subtitle {
    font-size: 45px;
    margin-bottom: 30px;
  }

  .creator {
    padding-top: 80px;
    background-image: url('../../images/course.png');
    background-repeat: no-repeat;
    background-size: 560px;
    background-position: center;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../../images/desktop/course2x.webp');
    }
  }

  @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/desktop/course3x.webp');
    }
  }

  .creator__wrapper {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 125px;
    align-items: flex-start;
  }

  .creator__profession__wrapper {
  }

  .creator__profession-invis {
    display: none;
  }

  .experience__list {
    width: 350px;
    margin-bottom: 50px;
  }

  .experience__icon {
    width: 27px;
    height: 27px;
  }

  .experience__info {
    font-size: 18px;
  }

  .quote__wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: -130px;
  }

  .quote {
    max-width: 370px;
    padding: 50px 30px;
    margin-bottom: 50px;
  }

  .quote__text {
    font-size: 18px;
  }

  .creator__btn {
    order: 0;
  }

  .creator__profession--desktop {
    padding: 23px 30px;
    max-width: none;
  }

  .creator__profession__text {
    font-size: 16px;
  }

  .profession__img {
    width: 40px;
    height: 40px;
  }

  .creator__profession--margin {
    margin-bottom: 20px;
  }
}
