// Description Section
@import '../base/common';
@import '../utils/colors';
@import '../utils/colors';

.description {
  padding-top: 40px;
  padding-bottom: 40px;
}

.description__about {
  font-weight: 700;
  font-size: 24px;
}

.description___title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 24px;
}

.description__text {
  font-size: 16px;
}

@media screen and (min-width: 1200px) {
  .description {
    padding-bottom: 80px;
    padding-top: 50px;
  }
  .description__about {
    font-size: 30px;
  }

  .description___title {
    font-size: 30px;
  }

  .description {
    & > .container {
      display: flex;
      gap: 30px;
      align-items: center;
    }
  }

  .description__title__wrapper {
    width: 50%;
  }

  .desctiption__text__wrapper {
    width: 50%;
  }
}
