@import '../utils/placeholder';
@import '../utils/colors';

.page-header {
  padding-top: 23px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__img {
  width: 83px;
}

.navbar__event {
  font-weight: 700;
  border: 1px solid $primery;
  border-radius: 50px;
  padding: 5px 10px;
}

.navbar_btn-menu {
  @extend %flex-view;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
