// Hero Section
@import '../utils/colors';
@import '../base/common';

.hero {
  padding-top: 20px;
  padding-bottom: 30px;
}

.hero__title {
  max-width: 290px;
  font-size: 24px;
  line-height: 1.5;
  color: $primery;
  margin-bottom: 20px;
}

.hero__conent-wrapper {
  position: relative;
  width: 100%;
}

.hero__img {
  margin-bottom: 10px;
}

.hero__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 114px;
  right: 0;
}

.hero__list-item {
  margin-left: auto;
}

.hero__info {
  display: inline-flex;
  padding: 10px 20px;

  font-size: 12px;
  line-height: 1.5;
  font-weight: 600;
  box-shadow: 0px 10px 70px rgba(79, 146, 170, 0.1);
  border-radius: 30px;
}

.hero_info--pink {
  background-color: #ffdce8;
}

.hero_info--lila {
  background-color: #dee0ff;
}

.hero_info--blue {
  background-color: #ceebfc;
}

// Lable

.hero__label {
  max-width: 290px;
  padding: 30px 20px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;

  background: linear-gradient(to bottom left, #5790e8, #5cc9d7);
}

.label_text {
  display: inline-flex;
  margin-bottom: 30px;

  font-size: 16px;
  line-height: 1.5;
  color: $label;
}

.btn__signup {
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 130px;
  background-color: $label;
  padding: 15px 10px;
  width: 100%;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: $label-btn-text;
}

// Media
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 120px;
    padding-bottom: 203px;
    background-image: url('../../images/desktop/hero1x.png');

    background-size: 718px;
    background-repeat: no-repeat;
    background-position: right 25% bottom 45%;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url('../../images/desktop/hero2x.png');
    }
  }

  .hero__title {
    max-width: 470px;

    font-size: 45px;
  }

  .hero__img {
    display: none;
  }

  .hero__list {
    top: 0;
  }

  .hero__label {
    margin: 0;
    padding: 30px 50px;
    max-width: 470px;
  }

  .label_text {
    font-weight: 700;
    font-size: 18px;
  }
}
