// Method Section
@import '../base/common';
@import '../utils/colors';

.method {
  padding: 40px 15px;
  background-color: #fefefe;
}

.method__container {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $label;
  box-shadow: 0px 10px 70px rgba(79, 146, 170, 0.1);
  border-radius: 30px;
}

.method__img {
  margin-bottom: 20px;
}

.method__title {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.method__text--margin {
  margin-bottom: 40px;
}

.author {
  display: block;
  margin-top: 20px;
  padding: 15px 20px;
  background-color: $author-bg;
  border-radius: 30px;
}

.author__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.5;
}

// Desktop

@media screen and (min-width: 1200px) {
  .method {
    padding-top: 80px;
    padding-bottom: 80px;
    box-shadow: 0px 10px 70px rgba(79, 146, 170, 0.1);
  }

  .method__container {
    display: flex;
    gap: 70px;
    padding: 40px 50px;
  }

  .method__img {
    width: 400px;
    align-self: center;
  }

  .method__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .method__title {
    font-size: 30px;
  }

  .method__text {
    font-size: 18px;
  }

  .author {
    margin-top: 30px;
    padding: 20px 30px;
    max-width: 366px;
  }

  .author__title {
    font-size: 20px;
  }

  .author__name {
    font-size: 18px;
  }
}
