// Result Section
@import '../base/common';
@import '../utils/colors';
@import '../utils/colors';
@import '../utils/placeholder';

.result {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: $label;
}

.result__img {
  margin-bottom: 10px;
}

.result__number {
  font-weight: 700;
  font-size: 50px;
  line-height: 1.24;
}

.result__description {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
}

.result__list {
  padding-left: 1rem;
}

.result__item {
  display: flex;
  align-items: baseline;
}

.result__item::before {
  content: '';
  background-image: url('../../images/icons/circle.svg');
  background-position: center;
  background-repeat: no-repeat;
  width: 8px;
  height: 8px;
  display: inline-flex;
  flex-shrink: 0;
  margin-left: -1em;
  margin-right: 10px;
}

.result__item:not(:last-child) {
  margin-bottom: 20px;
}

.result__info {
  font-size: 16px;
}

.result__item:last-child {
  margin-bottom: 30px;
}

.result__btn {
  @extend %btn;
  padding-left: 47px;
  padding-right: 47px;
}

// Desktop

@media screen and (min-width: 1200px) {
  .result {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .container--flex {
    display: flex;
    gap: 70px;
  }
  .result__img {
    width: 500px;
  }

  .result__number {
    font-size: 80px;
  }

  .result__description {
    font-size: 30px;
  }

  .result__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .result__item:last-child {
    margin-bottom: 50px;
  }

  .result__info {
    font-size: 18px;
  }

  .result__info::before {
    width: 10px;
    height: 10px;
  }

  .result__btn {
    margin: 0;
  }

  .result__btn {
    &.result__btn--desktop {
      margin: 0;
      padding: 16px 67px;
      font-size: 24px;
      font-weight: 500;
    }
  }
}
