// Colors Body & header

$body-bg: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #8ac6e8;

$primery: #44464a;

// Hero

$label: #ffffff;
$label-btn-text: #3c7ca0;

// Commoni Info
$blog-post: #f3f9fd;

// Author Section
$author-bg: #edf6fc;
